
/*Cynthia L. McLaughlin
  March 2017
*/

@font-face {
    font-family: GaiteraBall;
    src: url(../fonts/Gaitera_Ball.ttf);
}

body {
    background-color: white;
    min-height: 500px;
}

h1 {
    text-align: center;
}

.a-button {
    background-color: white;
    text-decoration: none;
    padding: 10px;
    float: right;
    margin: 5px;
}

#div-content {
    font-family: GaiteraBall;
    width: 80vw;
    height: 80vh;
    margin: auto;
    margin-top: 10vh;
    background-color: #d3e2ec;
    padding: 20px;
}

#img-cat {
    position: absolute;
    left: calc(50vw - 200px);
    top: calc(50vh - 250px);
    width: 500px;
}

#img-bowl {
    /*position: absolute;
    left: calc(50vw - 280px);
    top: calc(50vh + 100px);
    width: 250px;*/
}

#div-bowl {
    position: absolute;
    left: calc(50vw - 280px);
    top: calc(50vh + 100px);
    width: 250px;
}

#div-bowl-level3 {
    position: absolute;
    left: 250px;
    top: calc(50vh + 100px);
    width: 250px;
}

#bowl-name {
    position: absolute;
    text-align: center;
    background-color: transparent;
    border: none;
    font-family: GaiteraBall;
    font-size: 20px;
    /*left: calc(50vw - 260px);
    top: calc(50vh + 205px);*/
    top: 130px;
    left: 50px;
    width: 200px;
}

#test {
    position: absolute;
    font-family: GaiteraBall;
    font-size: 30px;
}

#div-answer {
    border: solid white;
    padding: 10px;
    margin-top: calc(80vh - 150px);
    display: none;
}

/*Level 6*/
#iknow {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

    #iknow:link {
        color: #d3e2ec;
    }

    #iknow:visited {
        color: black;
    }

#div-hidden {
    position: absolute;
    left: calc(50vw + 300px);
    top: calc(50vh + 100px);
}

