body {
		font-family: sans-serif;
}

#text {
	padding-top: 100px;
	text-align: center;
	font-size: 100px;
	color: #006666;
	clear: left;
}

.instructions {
	font-size: 30px;
	float: left;
	margin: 30px;
}
