
/*Cynthia L. McLaughlin
  February 2017

  Interactive Personality CSS
*/


body {
    background: #982846;
}

/*Makes sure the layout stays the same event if div is resized*/
.div-content {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.div-description {
    width: 300px;
    white-space: normal;
    float: left;
    padding:20px;
}

.div-logos {
    float: left;
}

#div-content-first {
    background-color: #eef0f2;
}

#div-content-second {
    background-color: #40454f;
    color: white;
}

