body {
    background: #982846;
}

.div-content {
    width: 1200px;
    height: 1200px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.div-description {
    width: 300px;
    white-space: normal;
    float: left;
    padding:20px;
}

.div-logos {
    float: left;
}

#div-content-first {
    background-color: #eef0f2;
}

#div-content-second {
    background-color: #40454f;
    color: white;
}

